@using EBook.Domain.Entities;
@model List<Categorie>
@{
    ViewData["Title"] = "CIndex";
}

@foreach (var item in Model)
{
    <div class="row">
        <div class="col-md-8 offset-2">
            <div class="card mb-12">
                <div class="row g-0">
                    <div class="col-md-12">
                        <div class="card-header text-white bg-info">
                            <p class="card-text">
                                <h5 class="card-title">
                                    @item.NameCategorie
                                </h5>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <img src="@item.Logo" width="100%" alt="@item.NameCategorie">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <p class="card-text">
                                <b>NameCategorie: </b>
                                <a>
                                    @item.NameCategorie
                                </a>
                            </p>
                            <p class="card-text">
                                <b>Description: </b>
                                <a>
                                    @item.Description
                                </a>
                            </p>
                            @if (item.Books != null && item.Books.Count > 0)
                            {
                                <ul>
                                    @foreach (var book in item.Books)
                                    {
                                        <li>@book.Name</li>
                                    }
                                </ul>
                            }
                            else
                            {
                                <p>No books available</p>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

