@using EBook.Domain.Entities
@model IEnumerable<Author>
@{
    ViewData["Title"] = "AIndex";
}

<style>
    .author{
        display: flex;
        justify-content: center;
    }

    .sidebar {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .sidebar-title {
        text-align: center;
        position: relative;
        top: 10px;
    }

    .search-form {
        margin-top: 10px;
        display: flex;
        align-items: center;
    }

    .search-input {
        width: 500px;
        padding: 5px;
        border-radius: 10px;
        border: 1px solid #ccc;
    }

    .search-form button {
        margin-left: 10px;
        padding: 10px;
        background-color: #ffa500;
        border: none;
        border-radius: 10px;
    }
    
</style>

<div class="sidebar">
    <h3 class="sidebar-title" >Search</h3>
    <div class="sidebar-item search-form">
        <form asp-controller="Home" asp-action="Index">
            <input type="text" name="SearchString" class="search-input">
            <button type="submit"><i class="bi bi-search"></i></button>
        </form>
    </div><!-- End sidebar search formn-->
</div><!-- End sidebar -->

<div class="row">
    <div class="col-md-8 offset-md-2">
        <table class="table">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model=>model.PictureURL)</th>
                    <th>@Html.DisplayNameFor(model=>model.AuthorBio)</th>
                    <th>@Html.DisplayNameFor(model=>model.Data)</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="align-middle">
                            <img class="rounded-circle" src="@item.PictureURL" alt="@item.AuthorBio" style="max-width: 200px" />
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem=>item.AuthorBio)
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem=>item.Data)
                        </td>
                    <td class="align-middle">
                            <a class="btn btn-outline-primary"><i class="bi bi-pencil-square"></i>Edit</a>
                            <a class="btn btn-outline-info" asp-controller="Author" asp-action="Details" asp-route-id="@item.Id"><i class="bi bi-pencil-eye"></i>Details</a>
                            <a class="btn btn-danger" asp-controller="Author" asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-trash"></i>Delete</a>
                    </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div style="position: fixed; right: 25px; bottom: 65px;" class="text-white">
    <a asp-controller="Author" asp-action="AddAuthor" class="btn btn-success"> <i class="bi bi-plus-circle"></i> Add Author </a>
</div>