@using EBook.Domain.Entities;
@using System.IdentityModel.Tokens.Jwt;
@model Author;

@{
    ViewData["Title"] = "Detail";
}

<div class="row">
    <div class="col-md-8 offset-2">
        <div class="card mb-12">
            <div class="row g-0">
                <div class="col-md-12">
                    <div class="card-header text-white bg-info">
                        <p class="card-text">
                            <h5 class="card-title">
                                @Model.AuthorBio
                            </h5>
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <img src="@Model.PictureURL" width="100%" alt="@Model.AuthorBio">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <p class="card-text">
                            <b>Date: </b>
                            <a>
                                @Model.Data
                            </a>
                        </p>
                        <p class="card-text">
                            <b>Name: </b>
                            <a>
                                @Model.AuthorBio
                            </a>
                        </p>
                        <p class="card-text">
                            <b>Book: </b>
                            <a>
                                @Model.Author_Book
                            </a>
                        </p>
                        <td>
                            @{
                                string authToken = Context.Request.Cookies["AuthToken"];
                                if (!string.IsNullOrEmpty(authToken))
                                {
                                    var tokenHandler = new JwtSecurityTokenHandler();
                                    var token = tokenHandler.ReadJwtToken(authToken);
                                    var role = token.Claims.FirstOrDefault(c => c.Type == "Role")?.Value;
                                    if (role == "Admin")
                                    {
                                        <a class="btn btn-outline-primary" asp-controller="Author" asp-action="Edit" asp-route-id="@Model.Id"><i class="bi bi-pencil-square"></i>Edit</a>
                                        <a class="btn btn-danger" asp-controller="Author" asp-action="Delete" asp-route-id="@Model.Id"><i class="bi bi-trash">Delete</i></a>
                                    }
                                }
                                if (!string.IsNullOrEmpty(authToken))
                                {
                                    <a class="btn btn-warning" asp-controller="" asp-action="" asp-route-id="@Model.Id"><i class="bi bi-star-fill">Favorite</i></a>
                                }
                            }
                        </td>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

