@using EBook.Domain.Entities;
@using System.IdentityModel.Tokens.Jwt;
@model Book;

@{
    ViewData["Title"] = "Detail";
}

<div class="row">
    <div class="col-md-8 offset-2">
        <div class="card mb-12">
            <div class="row g-0">
                <div class="col-md-12">
                    <div class="card-header text-white bg-info">
                        <p class="card-text">
                            <h5 class="card-title">
                                @Model.Name
                            </h5>
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <img src="@Model.URL" width="100%" alt="@Model.Name">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <p class="card-text">
                            <b>Description: </b>
                            <a>
                                @Model.Descriptions
                            </a>
                        </p>
                        <p class="card-text">
                            <b>Page: </b>
                            <a>
                                @Model.NrPage
                            </a>
                        </p>
                        <p class="card-text">
                            <b>Price: </b>
                            <a>
                                @Model.Price
                            </a>
                        </p>
                        <p class="card-text">
                            <b>Authors: </b>
                            <a>
                                @Model.Authors
                            </a>
                        </p>
                        <p class="card-text">
                            <b>Authors ID: </b>
                            <a>
                                @Model.AuthorId
                            </a>
                        </p>
                         <tr>
                            <td class="align-middle">
                                @{
                                    string authToken = Context.Request.Cookies["AuthToken"];
                                    if (!string.IsNullOrEmpty(authToken))
                                    {
                                        var tokenHandler = new JwtSecurityTokenHandler();
                                        var token = tokenHandler.ReadJwtToken(authToken);
                                        var role = token.Claims.FirstOrDefault(c => c.Type == "Role")?.Value;
                                        if (role == "Admin")
                                        {
                                                        <a class="btn btn-outline-primary" asp-controller="Book" asp-action="Edit" asp-route-id="@Model.Id"><i class="bi bi-pencil-square"></i>Edit</a>
                                                        <a class="btn btn-danger" asp-controller="Book" asp-action="Delete" asp-route-id="@Model.Id"><i class="bi bi-trash"></i>Delete</a>
                                        }
                                    }
                                }
                                @{
                                    if (!string.IsNullOrEmpty(authToken))
                                    {
                                                <a class="btn btn-primary" asp-controller="Cart" asp-action="AddToCart" asp-route-id="@Model.Id">
                                                    <i class="bi bi-cart-fill me-2">ShopingCart</i>
                                                </a>
                                    }
                                }
                            </td>
                        </tr>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

