@using EBook.Domain.Entities
@model IEnumerable<Book>
@{
    ViewData["Title"] = "Home Page";
}

<html lang="en">

<head>
    <link href="~/assets/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="~/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
</head>

<body>
    <style>
        .sidebar {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .sidebar-title {
            text-align: center;
        }

        .search-form {
            margin-top: 10px;
            display: flex;
            align-items: center;
        }

        .search-input {
            width: 500px;
            padding: 5px;
            border-radius: 10px;
            border: 1px solid #ccc;
        }

        .search-form button {
            margin-left: 10px;
            padding: 10px;
            background-color: #ffa500;
            border: none;
            border-radius: 10px;
        }
    </style>

    <div class="sidebar">
        <h3 class="sidebar-title">Search</h3>
        <div class="sidebar-item search-form">
            <form asp-controller="Home" asp-action="Index">
                <input type="text" name="SearchString" class="search-input">
                <button type="submit"><i class="bi bi-search"></i></button>
            </form>
        </div><!-- End sidebar search formn-->
    </div><!-- End sidebar -->
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <table class="table">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(model=>model.URL)</th>
                        <th>@Html.DisplayNameFor(model=>model.Name)</th>
                        <th>@Html.DisplayNameFor(model=>model.Authors)</th>
                        <th>@Html.DisplayNameFor(model=>model.NrPage)</th>
                        <th>@Html.DisplayNameFor(model=>model.Descriptions)</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="align-middle">
                                <img  src="@item.URL" alt="@item.Name" style="max-width: 200px" />
                            </td>
                            <td class="align-middle">
                                @Html.DisplayFor(modelItem=>item.Name) 
                            </td>
                            <td class="align-middle">
                                @Html.DisplayFor(modelItem=>item.Authors)
                            </td>
                            <td class="align-middle">
                                @Html.DisplayFor(modelItem=>item.NrPage)
                            </td>
                            <td class="align-middle">
                                @Html.DisplayFor(modelItem=>item.Descriptions)
                            </td>
                            <td class="align-middle">
                                <a class="btn btn-outline-primary"><i class="bi bi-pencil-square"></i>Edit</a>
                                <a class="btn btn-outline-info" asp-controller="Book" asp-action="Details" asp-route-id="@item.Id" ><i class="bi bi-pencil-eye"></i>Details</a>
                                <a class="btn btn-danger" asp-controller="Book" asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-trash"></i>Delete</a>
                                @{
                                    
                                    string authToken = Context.Request.Cookies["AuthCookie"];
                                    //parasa asta nu vrea sa lucreze => if (User.Identity.IsAuthenticated)
                                    // Verificați dacă tokenul este prezent și valabil
                                    if (!string.IsNullOrEmpty(authToken))
                                        {
                                        <a class="btn btn-primary">
                                            <i class="bi bi-cart-fill me-2">ShopingCart</i>
                                        </a>
                                        }
                                   }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <div style="position: fixed; right: 25px; bottom: 65px;" class="text-white">
        <a asp-controller="Book" asp-action="Add" class="btn btn-success"> <i class="bi bi-plus-circle"></i> Add Book </a>
        <a asp-controller="Book" asp-action="AddCategorie" class="btn btn-success"> <i class="bi bi-plus-circle"></i> Add Categorie </a>
    </div>
</body>

</html>